@font-face {
    font-family: "ptsansbold";
    src: url(assets/fonts/PTSans-Bold.woff);

    font-family: "PTSansNarrow";
    src: url(assets/fonts/PTSansNarrow-Regular.woff);

    font-family: "PTSansNarrowbold";
    src: url(assets/fonts/PTSansNarrow-Bold.woff);

    font-family: "JetBrains";
    src: url(/assets/fonts/JetBrainsMono-VariableFont_wght.woff);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;    
    
    
}
:root {
    --cor-principal: #F67E7D;      
    --cor-secundaria: #833B61;      
    --cor-destaque: #361f9e;
    --cor-textofundo: #ABABAB;           
    --cor-detalhes: #B3A7DF;          
    --cor-bgclaro: #F8F8F8;
    --fonte-principal: 'JetBrains', sans-serif; 
    --fonte-secundario: 'PTSansNarrow', sans-serif; 
    --fonte-fontbold: 'ptsansbold', sans-serif; 
    --tamanho-fonte: 1em;
    --espacamento: 1em;           
}

.container__header{
    height: 90vh;

    background: linear-gradient(130deg, #13093e 10%, #321a61 30%, #281386 50%, #310553 70%, #483b81 90%);
    background-size: 300% 300%;

    -webkit-animation: AnimationName 59s ease infinite;
    -moz-animation: AnimationName 59s ease infinite;
    animation: AnimationName 59s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
@-moz-keyframes AnimationName {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}
@keyframes AnimationName {
    0% { background-position: 0% 0%; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0% 0%; }
}

.navbar__hamburguer {
    display: none; /* Oculto por padrão */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.navbar__hamburguer span {
    display: block;
    width: 30px;
    height: 3px;
    background-color: var(--cor-secundaria);
    border-radius: 50px;
}




/* Estilo para dispositivos móveis */
@media screen and (max-width: 768px) {
    .navbar__hamburguer {
        display: flex;
    }

    .navbar__body {
        display: flex;
        text-align: left;
        justify-content: space-between;
        padding: 3em;
        align-items: center;
    }

    .navbar__container-menu {
        display: flex;
        flex-direction: column;
        gap: var(--espacamento);
        background-color: var(--cor-secundaria); 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        transform: translateX(-100%);
        transition: transform 0.2s ease;
        border-radius: 0 0 25px 25px;
        
    }

    .navbar__container-menu.active {
        transform: translateX(-0%); 
    }

    .navbar__container-menu.active .navbar__close {
        display: inline; 
        text-align: center;
        cursor: pointer;
    }
    
    .navbar__close span {
        font-size: 2em; 
    }
    /*header*/

    .header__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .header__container-hello{
        margin-top: 5em;
        width: 100%;
        margin-left: 10px;
    }
    
}



    
.navbar__close {
   display: none;
}



.navbar__body{
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 3em;
    align-items: center;
}
.navbar__container-logo{
    font-size: .8em;
    font-family: var(--fonte-principal);
    color: #FFFFFF;
    float: left;
}

.navbar__container-menu{
    display: flex;
    font-family: var(--fonte-principal);
    color: var(--cor-detalhes);
}

.navbar__container-menu li{
    padding: 0.5em 1em;
    display: flex;
    flex-direction: row;
    gap: var(--espacamento);
}
.navbar__container-menu li a{
    font-family: var(--fonte-principal);
    color: var(--cor-detalhes);
}
.navbar__container-idioma{
    display: flex;
    flex-direction: row; 
    gap: var(--espacamento);
}
.idioma__pt, .idioma__en{
    color: var(--cor-secundaria);
    font-family: var(--fonte-fontbold);
    color: var(--cor-detalhes);
    font-size: 0.8em;
    background-color: var(--cor-secundaria);
    padding: 0.5em;
    border-radius: 55%;
    width: 1.4em;
    height: 1.2em;
}


/*header*/

.header__container-hello::after{
    content: "Hello World";
    max-width: 100px;
    font-family: var(--fonte-principal);
    color: #ffffff0c;
    font-size: 5em;
    position: fixed;
    top: 25%;
    left: 10%;
}

.header__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items:center;
}


.header__container-img img {
    width: 550px;
}

#texto-dinamico{
    font-family: var(--fonte-principal);
    color: #fff;
}

.header__container-hello > h1, .header__container-hello > h2{
    font-family: var(--fonte-principal);
    color: #fff;
    font-size: 1.8em;
}
.header__container-hello > h1{
    font-size: inherit;
}
.header__container-hello span{
    color: var(--cor-principal);
}

#cursor {
    opacity: 1;
    animation: blink 1s steps(2, start) infinite;
    color: #fff;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

.container__buttons-header{
    margin-top: 2em;
}

.cv-download, .contact, #container__sobre-btnProjetos, #container__sobre-btnLerMais{
    background-color: var(--cor-principal);
    border-radius: var(--espacamento);
    padding: 0.4em 1.2em;
    border: none;
    color: #fff;
    font-size: 0.5;
}
.contact{
    background-color: transparent;
    border: 1px solid ;
    margin: 0 1em;
}
/*************SOBRE MIM************/

.container__sobre-home{
    background-image: url(/img/Group.png);
    display: flex;
    padding: 5% 10%;
}
.container__sobremim, .sobremim-hello {
    font-family: var(--fonte-principal);
    font-weight: bold;
    color: var(--cor-secundaria);
    margin-bottom: 1em;
}

.sobremim-hello{
    font-family: var(--fonte-secundario);
    font-size: 2em;
}

.sobremim-nome{
    font-family: var(--fonte-principal);
    color: var(--cor-secundaria);
    margin-bottom: 1em;
}
.sobremim-nome span{
    color: var(--cor-principal);
    font-weight: bold;
}


.popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.popup-content {
    background: #fff;
    margin: 15% auto;
    padding: 3em;
    width: 50%;
    position: relative;
    border-radius: var(--espacamento);
}

.close-btn {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
}

.container__texto{
    max-width: 90%;
}
#container__sobre-btnLerMais{
    margin: 1em 0;
}

